@font-face {
    font-family: Code;
    src: url(Cascadia.ttf);
}

body {
    font-family: Code;
    margin: 0;
    padding: 0;
    background-color: #ebe7d9;
}

.title-header h1 {
    color: #282c34;
    margin: 450px auto 0;
    font-size: 78px;
    text-align: center;
    font-weight: lighter;
}

.socials {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}

.socials a {
    text-decoration: none;
    color: #282c34;
}
